# File Extension Reclassification
*.DO linguist-language=BASIC

# Ignore Generated Code
ascii_packed/* linguist-generated
tokenized_packed/* linguist-generated

# Ignore Vendor Code
*.ipynb linguist-vendored

# Enforce LF for shell scripts and workflows
*.sh text eol=lf
.github/**/*.yml text eol=lf
